/********************************************************************************************************************************************************/
/*Coding: Balthasar-Maximilian Althaus
  V1.2 fertig gestellt am: 28.Februar 2022
*/
/********************************************************************************************************************************************************/
/***************************************************************************** basic style settings *****************************************************/
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }
 
  html, body {
    height: 100%;
  }
 
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    max-width: 95%;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /******************************************************************************* Logo & blinking text *****************************************************/
  body {
    background: linear-gradient(#100a25 45%, #130152, #2d1d66);
    background-image: url(./img/HiGruBKnigge.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #jc-logo{
    position: sticky;
    display: flex;
    flex-direction: row;
    width: 62em;
    max-width: 95%;
    height: 150px;
  }

  @keyframes logoAnim{
    from {left: -100px;transform: rotateZ(0deg);}
    to {left: 0px;transform: rotateZ(360deg);}
    0%{opacity: 0;}
    25%{opacity: 0;}
    100%{opacity: 1;}
  }

  @keyframes logoOutro{
    from {left: 100px;transform: rotateZ(0deg);}
    to {left: -500px;transform: rotateZ(360deg);}
    0%{opacity: 1;}
    25%{opacity: 1;}
    100%{opacity: 0;}
  }

  
  #logo{
    position: relative;
    margin: 25px 0 0 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .logoEntry{
    animation-name: logoAnim;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(0.535, -0.015, 0.015, 1.015);
  }

  .logoOutro{
    animation-name: logoOutro;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.535, -0.015, 0.015, 1.015);
  }

  .typewriter{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    margin-top: 60px;
    margin-left: 20px;
    height: 30px;
    overflow: hidden;
    border-right: .15em solid #1dd3f3;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 3.5s steps(30, end), blink-caret .9s step-end infinite;
  }

  @keyframes typing {
    from { width: 0;}
    to { width: 100%;}
  }

  @keyframes blink-caret {
    from, to {border-color: transparent;}
    50% {border-color: #baf5ff;}
  }

  /************************************************************************************** Code - Input - Card ********************************************************/
 
  @property --rotate {
    syntax: "<angle>";
    inherits: false;
    initial-value: 132deg;
  }
  
  :root {
    --container-height: 75vh;
    --container-width: calc(var(--container-height) / 1.5);
  }

  
  .container {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #0c0918;
    width: var(--container-width);
    height: var(--container-height);
    padding: 3px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px 15%;
  }
  
  .container:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 2s;
  }

  .container:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  }
  
.container::before {
    content: "";
    width: 103%;
    height: 102%;
    border-radius: 5px 15%;
    background-image: linear-gradient(
      var(--rotate)
      , #96e6fc, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -1.5%;
      animation: spin 3.5s linear infinite;
  }


.container::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 3.5s linear infinite;
}

@keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
}

.input-container {
  width: 400px;
  max-width: 95%;
  height: auto;
  padding-top: 20px;
}

.code-input {
    background-color: #3a63a0;
    color: #ffffff;
    border: 1px solid rgb(33, 23, 56);
    border-radius: 15px;
    width: 400px;
    max-width: 95%;
    height: 50px;
    text-align: center;
    box-shadow: inset 2px 3px 4px #0c0518, inset -3px -3px 4px #1dd3f3;
}

.code-btn {
  background-color: #100a25;
  margin: 20px;
  width: 80px;
  height: 80px;
  border: solid 4px #231849;
  border-radius: 50%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: #96e6fc;
  text-align: center;
  box-shadow:  -2px -1px 6px #1dd3f3,  5px 5px 8px #000000, inset 1px 2px 5px #000000, inset -1px -2px 4px #1dd3f3;
}

.code-btn:hover {
  color: #39d1d6;
  box-shadow:  -1px -1px 3px #1dd3f3,  2px 2px 3px #000000, inset 2px 3px 8px #000000, inset -2px -3px 5px #1dd3f3;
}

  /*********************************************************************** Infobox   ***************************************************************************/

  .infobox {

    margin: 20px;
    width: 95%;
    height: auto;
    max-width: 95%;
  }

  .hide {
    display: none;
  }

  .infobox_intern{
    margin-left: 40px;
    width: 100%;
    max-width: 98%;
    height: auto;
    max-height: 95%;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    justify-content: space-around;
    align-content: space-around;
  }

  /********************************************************************** Progress Bar **************************************************************************/

  .progress_container {
    width: 90%;
    max-width: 98%;
    height: 70px;
  }

  .progressbar {
    counter-reset: step;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #dfdfdf;
  }

  .progressbar li {
    list-style-type: none;
    float: left;
    width: 14.28%;
    position: relative;
    text-align: center;

  }

  .progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 33px;
    border: 1px solid #dfdfdf;
    color: #dfdfdf;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #dfdfdf;
  }

  .progressbar li:after {
    content: '';
    position: absolute;
    width: 100%;
    max-width: 95%;
    height: 5px;
    background-color: #dfdfdf;
    top: 17px;
    left: -50%;
    z-index: -1;
  }

  .progressbar li:first-child::after {
    content: none;
  }

  .progressbar li:active {
    color: green;
  }

  .progressbar li.active::before{
    border: 3px solid;
    border-color: green;
    background-color: green;
  }

  .progressbar li.active + li:after {
    background-color: green;
  }

  /************************************************************************  Input per IMG  *****************************************************************/

  .info_img{
    width: 90%;
    max-width: 88%;
    height: 70%;
    max-height: 98%;
  }

  .btn {
    background-color: #100a25;
    margin-left: 20px;
    width: 150px;
    max-width: 95%;
    height: 100px;
    max-height: 98%;
    border: solid 1px #231849;
    border-radius: 0 50% 50% 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #96e6fc;
    text-align: center;
    box-shadow:  -2px -1px 6px #1dd3f3,  5px 5px 8px #000000;
    justify-self: center;
    align-self: center;
}

.btn:hover {
  color: #39d1d6;
  box-shadow:  -1px -1px 3px #1dd3f3,  2px 2px 3px #000000, inset 2px 3px 8px #000000, inset -2px -3px 5px #1dd3f3;
}

/***************************************************************************    Quiz       *****************************************************************/
.wrapper{
  margin-top: 20px;
  margin-left: 50px;
  width: 120em;
  height: auto;
  max-width: 95%;
}

.icon_styles {
  width: 15em;
  height: 15em;
  max-width: 98%;
  background-color: #000000;
  border-radius: 50%;
}

.quiz_container{
  padding: 40px;
  width: 120em;
  height: auto;
  max-width: 95%;
  border-radius: 60px;
  background-color: #0b1b28;
  box-shadow: 7px 7px 10px #000000;
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: minmax(100px, auto);
  gap: 20px 10px;
}

.quiz_img{
  height: 17em;
  max-width: 99%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: start;
  align-self: center;
}

.question {
  padding: 5px 20px 5px 10px;
  grid-column: 2/5;
  grid-row: 1 / 2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  line-height: 1.5;
  color: #ffffff;
}

.btn_quest{
  width: 45em;
  max-width: 98%;
  height: 5em;
  border-radius: 15px;
  background-color: #3f56b5;
  justify-self: start;
  align-self: center;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

/*****************************************************************************   Result & new Code Bildschirm   ******************************************/
.dpflex{
  padding: 40px;
  width: 120em;
  height: auto;
  max-width: 95%;
  border-radius: 60px;
  background-color: #0b1b28;
  box-shadow: 7px 7px 10px #000000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bild_ende {
  display: block;
  width: 80%;
  max-width: 98%;
  height: auto;
  margin: 20px auto;
  justify-items: center;
  align-content: center;
}

#slider {
  margin: auto;
  overflow: hidden;
  width: 250px;
  height: 250px;
  background-image: url(./img/kniggs1_icon.png);
  border-radius: 50%;
  background-repeat: round;
  animation-name: slider;
  animation-direction: normal;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}


@keyframes slider {
  0% {background-image: url(./img/kniggs1_icon.png);background-repeat: round;}
  25% {background: url(./img/kniggs2_icon.png); background-repeat: round;}
  50% {background: url(./img/kniggs3_icon.png); background-repeat: round;}
  75% {background: url(./img/kniggs4_icon.png); background-repeat: round;}
  100% {background: url(./img/kniggs1_icon.png); background-repeat: round;}
}


.ergebnis {
  width: 85%;
  max-width: 98%;
  height: auto;
  margin: 20px;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  text-align: center;
}

.neuer_code {
  width: 85%;
  max-width: 98%;
  height: auto;
  margin: 20px;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-align: center;
}

.hinweis{
  width: 85%;
  max-width: 98%;
  height: auto;
  margin: 20px;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  background-color: #100a25;
  text-align: center;
}

/**********************************************************************   Pop Up Alert Message    *******************************************************/

.popup_wrapper{
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.popup {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(68, 2, 2);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 12;
}

.popup_content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 50px;
  width: 500px;
  max-width: 98%;
  height: 500px;
  background: rgb(202, 59, 59);
  opacity: 1;
  box-shadow: 4px 4px 70px 10px rgb(0 0 0 /11%);
  border-radius: 25px;
  text-align: center;
  letter-spacing: 0.06px;
  z-index: 14;
  animation: fade 0.8s;
}

@keyframes fade {
  from {top : -300px; opacity: 0;}
  to {top: 0; opacity: 1}
}

.popup_title{
  width: 100%;
  max-width: 98%;
  margin: 20px 0 40px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;  
  z-index: 16;
}

.popup_text {
  margin: 60px 10px 60px 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  width: 100%;
  max-width: 95%;
  text-align: center;
  letter-spacing: 0.05em;
  line-height: 30px;
  z-index: 16;
}


.btn_popup {
  background-color: #100a25;
  margin: 20px auto;
  width: 80px;
  height: 80px;
  border: solid 4px #231849;
  border-radius: 50%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: #96e6fc;
  text-align: center;
  box-shadow:  -2px -1px 6px #1dd3f3,  5px 5px 8px #000000, inset 1px 2px 5px #000000, inset -1px -2px 4px #1dd3f3;
  z-index: 16;
}

.btn_popup:hover {
  color: #39d1d6;
  box-shadow:  -1px -1px 3px #1dd3f3,  2px 2px 3px #000000, inset 2px 3px 8px #000000, inset -2px -3px 5px #1dd3f3;
}
 
